.hamburger.menu-button {
    height: 80px;
    width: 80px;
    background-color: white;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 50%;
    z-index: 999;
}

.container-dashboard * {
    color: white;
}

#sidebar,
#settings {background-color: black !important;}

#settings {
    display: grid;
    place-content: center;
    justify-content: center !important;
}

#sidebar .items a {
    color: white !important;
}

.hamburger svg {
    position: absolute;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 30px;
    left: 15px;
}

.container-dashboard {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span, 
h1 {    
    font-size: 5rem;
    font-family: 'IBM-Bold';
    text-align: center;
}

h1 {
    font-size: 1.6rem;
    margin: 0;
    text-transform: capitalize;
    margin-top: -12px;
}

p.question {
    text-align: center;
    font-size: 1.rem;
    font-family: 'IBM-Medium';
    margin-top: 20px;
}

p.question::after {
    content: "";
    border-bottom: 1px solid white;
    width: 90%;
    display: block;
    margin: 20px auto 30px auto;
}

p.quote {
    text-align: center;
    margin: 10px;
}

.settings, 
.menu {
    transition: 200ms ease-in-out opacity;
}

.settings { left: -20px !important; z-index: 888; }
.settings svg { left: 28px; }
.none { visibility: hidden; opacity: 0; }

@media screen and (min-width: 800px) {
    .hamburger svg {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 27px;
        left: 14px;
    }

    .hamburger.menu-button{display: inline;}
    .settings svg { left: 24px; }
}